* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'rubik';
	src: url(fonts/Rubik-Regular.ttf);
	font-style: normal;
}

@font-face {
	font-family: 'rubik-Light';
	src: url(fonts/Rubik-Light.ttf);
	font-style: normal;
}

@font-face {
	font-family: 'rubik-bold';
	src: url(fonts/Rubik-Bold.ttf);
	font-style: normal;
}

@font-face {
	font-family: 'sans-light';
	src: url(fonts/ElliotSans-Light.ttf);
	font-style: normal;
}

@font-face {
	font-family: 'sans-medium';
	src: url(fonts/ElliotSans-Medium.ttf);
	font-style: normal;
}

@font-face {
	font-family: 'sans-regular';
	src: url(fonts/ElliotSans-Regular.ttf);
	font-style: normal;
}

/*THIS IS TO MAKE A SHADOW THAT MOVES BEHIND OBJECTS*/

@-webkit-keyframes pulse {
  0% { box-shadow:0 0 6px #071920 ; }
  50% { box-shadow:0 0 12px #071920 ; }
  100% { box-shadow:0 0 6px rgba(255,255,255,0.7) }
}

/*FLASHING BACKGROUND*/

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 2.5px rgba(51,185,136,0.2), 0 0 10px rgba(51,185,136,0.5), 0 0 15px rgba(51,185,136,1);
  }
 																											
}

/*INITIAL OPACITY OF 0.2 - ON SCROLL 1*/

.navbar {
	background-color: rgba(7,25,32,0.5) !important;
}

.nav-link-color-c {
	color:#33B988 !important;
	font-family: rubik-light !important;
	font-size: 13px !important;
}

.nav-link-color-c:hover {
	color: #fff !important;
}

.nav-btn-login-c{
	color: #ffffff !important;
	font-family: rubik-light !important;
	font-size: 13px !important;
	cursor: pointer;
}

.nav-btn-login-c:hover{
	color: #33B988 !important;
}

.nav-btn-getstarted-c{   
 	background-color: #33B988 !important;  
 	color: #ffffff !important;
 	font-family: rubik-light ;
 	font-size: 13px;
 	padding: 5px;
}

 .nav-btn-getstarted-c:focus, .nav-btn-getstarted-c:active {
   box-shadow: none;
}


/*Need to use RGBA in order to keep font without Opacity */

.nav-btn-getstarted-c:hover{   
 	background-color: rgba(51,158,136,0.8) !important; 
}

/* SECTION 1 SPECIFIC */

 .sec-1{    
  height: auto;   
  background-image: url(background.png);   
  background-position: center;    
  background-size: 100%;
}

.sec-1-text{
	color: #ffffff;
	font-family: rubik-light !important;
	margin-top: 5%;
    padding-top: 8.2%;
    padding-bottom: 8.2%;
}

.sec-1-text h1{
	font-family: sans-medium !important;
	font-size: 60px;
	letter-spacing: 1px;
}


.sec-1-text p{
	font-size: 20px;
}

.sec-1-btn-find-out{
	color: #ffffff ;
	font-size: 13px;
	border: #33B988 2px solid !important;
	width: 150px !important;
}

 .sec-1-btn-create-an-account{
 	color:#ffffff;
 	font-size:13px;
 	border: rgba(34,141,255) 2px solid;
 	width: 150px !important;
 }

.sec-1-btn-find-out:hover{
	border: #ffffff 2px solid !important;
}

.sec-1-btn-create-an-account:hover{
 	border: #ffffff  2px solid !important;
 }

 .nav-link-seprator-c{
 	color:white;    
 	font-family: rubik-light;
 	font-size:20px;
 } 

.sec-1 .down-arrow i {
    font-size: 60px;
    color: #33B988;
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1s ease-in-out infinite alternate;
}


/****** GENERAL TEXT FORMATTING FOR ALL SECTIONS *******/

.text {
	font-family: rubik-light !important;
}

.text-1, .text-2 {
	text-align: left
}

.text-1 {
	font-size:30px !important;
	color: #071920 ;
}

.text-2 {
	font-size: 20px !important;
	color:#33B988;
}

.btn {
	font-family: rubik-light !important;
 	font-size:13px !important;
}

/********* GENERAL TEXT FORMATTING END *************/


/* SECTION 2 SPECIFIC */

.sec-2 {
	/* height: 500px; */
	height:auto;
	background-color: #e1e1e1;
}

.sec-2 .world-map img{
    width:100%;
}


.sec-2 .btn-1{
	margin-top: 50px !important;
 	color: #071920;
 	border:2px solid #071920;
 	background-color:transparent;
 }

.sec-2 .btn-1:hover{
  	border:2px solid #33B988;
  }

.sec-2 .col-md-5 {
	padding-right: 100px !important;
}

 /* SECTION 3 SPECIFIC */ 

.sec-3 {
	height: auto; 
}

.sec-3 .text-1 {
 	color: #ffffff !important;
 
 }

/* SECTION 4 SPECIFIC */

.sec-4 {
	height: auto;
}

.sec-4 .btn-1,.btn-2,.btn-3 {
  	color: #071920;
  	border:2px solid #071920;
  	background-color:transparent;
}

  .sec-4 .btn-1:hover,.btn-2:hover,.btn-3:hover{
  	color: #071920;
  	background-color:transparent;
  	border:2px solid #33B988;
  }


.circle-block {
    text-align: center;
    vertical-align: middle;
}

.circle-travel, .circle-lens {
	font-family: rubik-light;
	letter-spacing: 2px;
	color: rgba(255,255,255);
	font-size:18px;
	border:none !important;
	border-radius: 160px;
	height: 140px;
	width: 140px;
    display: table;
    margin: 20px auto;
    box-shadow: 0 0 4px rgba(7,25,32,0.7);
}

.circle-travel:hover, .circle-lens:hover {
	font-size:25px;
	}

.circle-travel {
	background-image: linear-gradient(to top left, rgba(7,25,32,0.5), rgba(7,25,32,1)) !important; 
    
    /*Base color with gradient : ; */
}
.circle-lens {
    background-image: linear-gradient(to top left, rgba(34,141,255,0.5), rgba(34,141,255,1)) !important; 
    /*Base color with gradient : ; */
}

.sec-4 .circle-block {
	margin-left: 100px !important;
}

.sec-4 .right-content {
	margin-left: 100px !important;
}


.circle-travel p, .circle-lens p {
    vertical-align: middle;
    display: table-cell;
}

.sec4_description {
	font-family: rubik-light;
	font-size:15px;
}

/*POP UP MODAL ON SIGNUP / ENTER */

#getStartedModal .modal-content 
{/*background-color:transparent;*/
	color;#fff;
}

#getStartedModal .modal-content  button[type=submit]{
	background-color:#33B988;
	color;#fff;
	border:0px;
}

#getStartedModal .create-btn {
	background-color:#33B988;
	color;#fff;border:0px;
	margin-top: 25px;
	width:200px;
}

#getStartedModal .create-btn:hover {
	background-color: rgba(51,158,136,0.8) !important;
}

#getStartedModal .fb-btn {
	width:200px;
	font-family: rubik !important;
}


#loginModal .login-btn{
	background-color:#33B988;
	color;#fff;border:0px;
	margin-top: 25px;
	width:200px;
}

#loginModal .login-btn:hover{
	background-color: rgba(51,158,136,0.8) !important;
}


#loginModal .fb-btn {
	width:200px;
	font-family: rubik !important;
}

.modal{
	font-family: rubik-light !important;
	background-color: rgba(255,255,255,0.8);
}

.modal-btn-green {
	margin-top: 25px;
}

.modal-btn-green:hover{
	background-color: rgba(51,158,136,0.8) !important; 
}


.modal-content {
	background-color: transparent !important;
	margin-top: 100px;
	border: none !important;
	box-shadow: 0px 0px 15px rgba(7,25,32,0.5);
	border-radius: 10px !important;
}

.modal-body {
	background-image: linear-gradient(to top left, rgba(7,25,32,0.7), rgba(7,25,32,1)) !important; 
	color: #ffffff;
	font-size: 13px;
	border-radius: 10px !important;
}

.form-control{
	background-color: rgb(51,185,136,0.2)!important;
	color: #33B988 !important;
	border:none;
}

.form-check-input {
	color: blue !important;
}

.modal_heading {
	color: #33B988 !important ;
	font-size: 12px ;
	font-style: italic;
}

.form-group p {
	font-family: rubik-light !important;
	font-style: italic;
	font-size: 10px !important ;
	opacity: 0.8 !important;
}

.star {
	color: #33B988 !important;
}


/*REMOVING BORDER FROM INPUT FIELDS ON CLICK*/

.form-control:focus, .form-control:active {
	border: none !important;
    outline: none !important;
    box-shadow: 0 0 5px rgba(51,185,136)!important;
    background-color: rgb(51,185,136,0.0)!important;
}

/*REMOVING BORDER FROM ALL BUTTONS ON CLICK*/

.click_btn:focus, .click_btn:active {
	box-shadow:none !important;
}

.click_btn1:focus, .click_btn1:active {
	box-shadow:none !important;
	color: #071920 !important;
 	border:2px solid rgba(51,185,136,0.7) !important;
 	background-color:transparent !important;
}

